$ColorYellow : #FFE600;
$ColorBlack : #333333;
$ColorGrey : #999999;
$ColorLightGrey  : #EEEEEE;
$ColorWhite  : #ffffff;

.RowBody{
  background-color: $ColorLightGrey;
}
.RowItemSeacher{
  background-color: $ColorWhite;
  border-bottom:  1px solid #EEEEEE;
}
.ImageResult{
  width: 180px;
  height: 180px;
  padding: 16px;
}
.TitleResult{
  h1{
    padding-top: 20px;
  }
  p{
    padding-top: 32px;
  }
}
.CityResult{
  padding-top: 20px;
  padding-left: 12px;
}

.BannerHeader{
    background-color: $ColorYellow;
    height: 70px;
    .inputContainer{
      padding-top : 20px;
      padding-left: 20px;
      height: 50px;
      input{
        width: 600px;
        background-color: $ColorLightGrey;
      }
      button{
        background-color: $ColorLightGrey;
      }
    }
    .App-logo {
      padding-top : 20px;
      padding-left: 20px;
    }
}
